<div id="login" class="col-md-2 text-center">

<h3>Sign Up</h3>
    <form class="form-group">
    <label for="userid" >Username:</label>
        <input type="text" placeholder="Choose Your Username" class="form-control" name="user" id="userid">
    </form>
    
    <label for="emlid" >Email id:</label>
    <form class="form-group">
        <input type="text" placeholder="Enter Your Email id" class="form-control" name="email" id="emlid">
    </form>
    
        
    <label for="pwdid" >Password:</label>
    <form class="form-group">
        <input type="text" placeholder="Enter Your Password" class="form-control" name="password" id="pwdid">
    </form>
    
    <label for="pwdreid" >Re enter Password:</label>
    <form class="form-group">
        <input type="text" placeholder="Re enter Your Password" class="form-control" name="Repassword" id="pwdreid">
    </form>
    
   
    
    <form class="form-group">
        <button class="btn btn-success" id="submit" type="submit">Create New Account</button>
    </form>
    
    
</div>

<div id=box class="col-md-2 text-center" >


</div>


