<div id="login" class="col-md-2 text-center">

<h3>Login</h3>
    <form class="form-group">
    <label for="userid" >Name:</label>
        <input type="text" placeholder="Enter Your Username" class="form-control" name="user" id="userid">
    </form>
    
        
    <label for="pwdid" >Password:</label>
    <form class="form-group">
        <input type="text" placeholder="Enter Your Password" class="form-control" name="password" id="pwdid">
    </form>
    
   <a routerLink="/new-acc" role="button">create new account</a>
    
    <form class="form-group">
        <button class="btn btn-primary" id="submit" type="submit">Login</button>
    </form>
    
    
</div>

<div id=box class="col-md-2 text-center" >


</div>


